FoodCrate_V1.01/FoodCrate_V1.01/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DBService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="DBService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="DBService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="DBService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="DBService_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="DBService_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalSales_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalSales" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalSalesResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalRegisteredUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalRegisteredUsers" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalRegisteredUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalRegisteredUsersResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_CashGenerated_InputMessage">
    <wsdl:part name="parameters" element="tns:CashGenerated" />
  </wsdl:message>
  <wsdl:message name="DBService_CashGenerated_OutputMessage">
    <wsdl:part name="parameters" element="tns:CashGeneratedResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalProductsSold_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalProductsSold" />
  </wsdl:message>
  <wsdl:message name="DBService_TotalProductsSold_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalProductsSoldResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AuthUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthUser" />
  </wsdl:message>
  <wsdl:message name="DBService_AuthUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthUserResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_UniqueUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:UniqueUsername" />
  </wsdl:message>
  <wsdl:message name="DBService_UniqueUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniqueUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_CountProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:CountProducts" />
  </wsdl:message>
  <wsdl:message name="DBService_CountProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountProductsResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="DBService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="DBService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="DBService_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredient" />
  </wsdl:message>
  <wsdl:message name="DBService_AddIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoice" />
  </wsdl:message>
  <wsdl:message name="DBService_AddInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_AddInvoiceItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceItem" />
  </wsdl:message>
  <wsdl:message name="DBService_AddInvoiceItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceItemResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="DBService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="DBService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="DBService_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredient" />
  </wsdl:message>
  <wsdl:message name="DBService_GetIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="DBService_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetInvoiceItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceItem" />
  </wsdl:message>
  <wsdl:message name="DBService_GetInvoiceItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceItemResponse" />
  </wsdl:message>
  <wsdl:portType name="DBService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetData" message="tns:DBService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetDataResponse" message="tns:DBService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetDataUsingDataContract" message="tns:DBService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetDataUsingDataContractResponse" message="tns:DBService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/TestConnection" message="tns:DBService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/TestConnectionResponse" message="tns:DBService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/ExecuteQuery" message="tns:DBService_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/ExecuteQueryResponse" message="tns:DBService_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/ExecuteNonQuery" message="tns:DBService_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/ExecuteNonQueryResponse" message="tns:DBService_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalSales">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/TotalSales" message="tns:DBService_TotalSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/TotalSalesResponse" message="tns:DBService_TotalSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalRegisteredUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/TotalRegisteredUsers" message="tns:DBService_TotalRegisteredUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/TotalRegisteredUsersResponse" message="tns:DBService_TotalRegisteredUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CashGenerated">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/CashGenerated" message="tns:DBService_CashGenerated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/CashGeneratedResponse" message="tns:DBService_CashGenerated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalProductsSold">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/TotalProductsSold" message="tns:DBService_TotalProductsSold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/TotalProductsSoldResponse" message="tns:DBService_TotalProductsSold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AuthUser" message="tns:DBService_AuthUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AuthUserResponse" message="tns:DBService_AuthUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniqueUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/UniqueUsername" message="tns:DBService_UniqueUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/UniqueUsernameResponse" message="tns:DBService_UniqueUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/CountProducts" message="tns:DBService_CountProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/CountProductsResponse" message="tns:DBService_CountProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddUser" message="tns:DBService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddUserResponse" message="tns:DBService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddProduct" message="tns:DBService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddProductResponse" message="tns:DBService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddRecipe" message="tns:DBService_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddRecipeResponse" message="tns:DBService_AddRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddIngredient" message="tns:DBService_AddIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddIngredientResponse" message="tns:DBService_AddIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddInvoice" message="tns:DBService_AddInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddInvoiceResponse" message="tns:DBService_AddInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceItem">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/AddInvoiceItem" message="tns:DBService_AddInvoiceItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/AddInvoiceItemResponse" message="tns:DBService_AddInvoiceItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetUser" message="tns:DBService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetUserResponse" message="tns:DBService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetProduct" message="tns:DBService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetProductResponse" message="tns:DBService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetRecipe" message="tns:DBService_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetRecipeResponse" message="tns:DBService_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetIngredient" message="tns:DBService_GetIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetIngredientResponse" message="tns:DBService_GetIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetInvoice" message="tns:DBService_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetInvoiceResponse" message="tns:DBService_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceItem">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetInvoiceItem" message="tns:DBService_GetInvoiceItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetInvoiceItemResponse" message="tns:DBService_GetInvoiceItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DBService" type="tns:DBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/DBService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/DBService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/DBService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap:operation soapAction="http://tempuri.org/DBService/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/DBService/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSales">
      <soap:operation soapAction="http://tempuri.org/DBService/TotalSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalRegisteredUsers">
      <soap:operation soapAction="http://tempuri.org/DBService/TotalRegisteredUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashGenerated">
      <soap:operation soapAction="http://tempuri.org/DBService/CashGenerated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalProductsSold">
      <soap:operation soapAction="http://tempuri.org/DBService/TotalProductsSold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthUser">
      <soap:operation soapAction="http://tempuri.org/DBService/AuthUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniqueUsername">
      <soap:operation soapAction="http://tempuri.org/DBService/UniqueUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountProducts">
      <soap:operation soapAction="http://tempuri.org/DBService/CountProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/DBService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/DBService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/DBService/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <soap:operation soapAction="http://tempuri.org/DBService/AddIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <soap:operation soapAction="http://tempuri.org/DBService/AddInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceItem">
      <soap:operation soapAction="http://tempuri.org/DBService/AddInvoiceItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/DBService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/DBService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/DBService/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <soap:operation soapAction="http://tempuri.org/DBService/GetIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/DBService/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceItem">
      <soap:operation soapAction="http://tempuri.org/DBService/GetInvoiceItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_DBService" binding="tns:BasicHttpBinding_DBService">
      <soap:address location="http://localhost:55731/DBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>