FoodCrate_V1.01/FoodCrate_V1.01/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseService" />
      <xsd:import schemaLocation="http://localhost:55731/DBService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataCsharp_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalSales_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalSales" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalSalesResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalRegisteredUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalRegisteredUsers" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalRegisteredUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalRegisteredUsersResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_CashGenerated_InputMessage">
    <wsdl:part name="parameters" element="tns:CashGenerated" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_CashGenerated_OutputMessage">
    <wsdl:part name="parameters" element="tns:CashGeneratedResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalProductsSold_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalProductsSold" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_TotalProductsSold_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalProductsSoldResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AuthUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthUser" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AuthUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthUserResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_UniqueUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:UniqueUsername" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_UniqueUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:UniqueUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_CountProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:CountProducts" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_CountProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountProductsResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredient" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoice" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddInvoiceItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceItem" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_AddInvoiceItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInvoiceItemResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredient" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetInvoiceItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceItem" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetInvoiceItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceItemResponse" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetProductByString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByString" />
  </wsdl:message>
  <wsdl:message name="DataCsharp_GetProductByString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByStringResponse" />
  </wsdl:message>
  <wsdl:portType name="DataCsharp">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetData" message="tns:DataCsharp_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetDataResponse" message="tns:DataCsharp_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetDataUsingDataContract" message="tns:DataCsharp_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetDataUsingDataContractResponse" message="tns:DataCsharp_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/TestConnection" message="tns:DataCsharp_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/TestConnectionResponse" message="tns:DataCsharp_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/ExecuteQuery" message="tns:DataCsharp_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/ExecuteQueryResponse" message="tns:DataCsharp_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/ExecuteNonQuery" message="tns:DataCsharp_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/ExecuteNonQueryResponse" message="tns:DataCsharp_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalSales">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/TotalSales" message="tns:DataCsharp_TotalSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/TotalSalesResponse" message="tns:DataCsharp_TotalSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalRegisteredUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/TotalRegisteredUsers" message="tns:DataCsharp_TotalRegisteredUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/TotalRegisteredUsersResponse" message="tns:DataCsharp_TotalRegisteredUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CashGenerated">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/CashGenerated" message="tns:DataCsharp_CashGenerated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/CashGeneratedResponse" message="tns:DataCsharp_CashGenerated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TotalProductsSold">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/TotalProductsSold" message="tns:DataCsharp_TotalProductsSold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/TotalProductsSoldResponse" message="tns:DataCsharp_TotalProductsSold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AuthUser" message="tns:DataCsharp_AuthUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AuthUserResponse" message="tns:DataCsharp_AuthUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UniqueUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/UniqueUsername" message="tns:DataCsharp_UniqueUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/UniqueUsernameResponse" message="tns:DataCsharp_UniqueUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/CountProducts" message="tns:DataCsharp_CountProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/CountProductsResponse" message="tns:DataCsharp_CountProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddUser" message="tns:DataCsharp_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddUserResponse" message="tns:DataCsharp_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddProduct" message="tns:DataCsharp_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddProductResponse" message="tns:DataCsharp_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddRecipe" message="tns:DataCsharp_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddRecipeResponse" message="tns:DataCsharp_AddRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddIngredient" message="tns:DataCsharp_AddIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddIngredientResponse" message="tns:DataCsharp_AddIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddInvoice" message="tns:DataCsharp_AddInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddInvoiceResponse" message="tns:DataCsharp_AddInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceItem">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/AddInvoiceItem" message="tns:DataCsharp_AddInvoiceItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/AddInvoiceItemResponse" message="tns:DataCsharp_AddInvoiceItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetUser" message="tns:DataCsharp_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetUserResponse" message="tns:DataCsharp_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetProduct" message="tns:DataCsharp_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetProductResponse" message="tns:DataCsharp_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetRecipe" message="tns:DataCsharp_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetRecipeResponse" message="tns:DataCsharp_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetIngredient" message="tns:DataCsharp_GetIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetIngredientResponse" message="tns:DataCsharp_GetIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetInvoice" message="tns:DataCsharp_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetInvoiceResponse" message="tns:DataCsharp_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceItem">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetInvoiceItem" message="tns:DataCsharp_GetInvoiceItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetInvoiceItemResponse" message="tns:DataCsharp_GetInvoiceItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByString">
      <wsdl:input wsaw:Action="http://tempuri.org/DataCsharp/GetProductByString" message="tns:DataCsharp_GetProductByString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataCsharp/GetProductByStringResponse" message="tns:DataCsharp_GetProductByString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DataCsharp" type="tns:DataCsharp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSales">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/TotalSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalRegisteredUsers">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/TotalRegisteredUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashGenerated">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/CashGenerated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalProductsSold">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/TotalProductsSold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthUser">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AuthUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniqueUsername">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/UniqueUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountProducts">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/CountProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoice">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddInvoiceItem">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/AddInvoiceItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceItem">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetInvoiceItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByString">
      <soap:operation soapAction="http://tempuri.org/DataCsharp/GetProductByString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_DataCsharp" binding="tns:BasicHttpBinding_DataCsharp">
      <soap:address location="http://localhost:55731/DBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>